{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <h2 class="float-left">New Schemas</h2>
        <a href="{% url 'schema_list' %}" type="button" class="btn btn-success float-right">Submit</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <form>
            <div class="form-group">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="column_separator" class="form-label">Column separator</label>
                <select class="form-control" name="column_separator" id="column_separator" aria-label="Default select example">
                    <option selected>Column separator</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="form-group">
                <label for="string_character" class="form-label">String character</label>
                <select class="form-control" name="string_character" id="string_character" aria-label="Default select example">
                    <option selected>String character</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2 class="float-left">Schemas Columns</h2>
    </div>
</div>
<form>

    <div class="form-row">
        <div class="form-group col-md-3">
            <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="form-group col-md-3">
                <select class="form-control" aria-label="Default select example">
                    <option selected>String character</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
        </div>
        <div class="form-group col-md-3">

        </div>
        <div class="form-group col-md-3">
            <input type="text" class="form-control" placeholder="Last name">
        </div>
    </div>
        <div class="form-row">
        <div class="form-group col-md-3">
            <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="form-group col-md-3">
                <select class="form-control" aria-label="Default select example">
                    <option selected>String character</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
        </div>
        <div class="form-row col-md-3">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="Last name">
            </div>

            <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>
        <div class="form-group col-md-3">
            <input type="text" class="form-control" placeholder="Last name">
        </div>
    </div>
        <div class="form-row">
        <div class="form-group col-md-3">
            <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="form-group col-md-3">
                <select class="form-control" aria-label="Default select example">
                    <option selected>String character</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
        </div>
        <div class="form-group col-md-3">
        </div>
        <div class="form-group col-md-3">
            <input type="text" class="form-control" placeholder="Last name">
        </div>
    </div>
</form>
{% endblock %}