{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <h2 class="float-left">Data Schemas</h2>
        <a href="{% url 'schema_create' %}" type="button" class="btn btn-success float-right">New Schema</a>
    </div>
</div>
<table class="table table-hover table-bordered caption-top">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Modified</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% if schemas %}
    {% for schema in schemas %}
    <tr>
        <th scope="row">{{ schema.id }}</th>
        <td><a href="{% url 'schema_view' schema.id %}">{{ schema.name }}</a></td>
        <td>{{ schema.modified }}</td>
        <td>
            <a href="{% url 'schema_edit' schema.id %}">Edit schema</a>
            &nbsp;&nbsp;&nbsp;
            <a href="javascript:;">Delete</a>
        </td>
    </tr>
    {% endfor %}

    {% else %}
    <caption>
        No schema yet!
    </caption>
    {% endif %}
    </tbody>
</table>
{% endblock %}